.slider.swiper-container
    .swiper-wrapper
        -for (let i = 1; i < 10; i++)
            .swiper-slide
                .swiper-slide-image
                    picture
                        source(media="(min-width: 1025px)", srcset="https://via.placeholder.com/1920x800")
                        source(media="(min-width: 768px)", srcset="https://via.placeholder.com/1024x800")
                        img(src="https://via.placeholder.com/768x800", alt="Slider").img-fluid
                .swiper-slide-content
                    h1 lorem ipsum dolor sit amet
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus reiciendis veritatis, aspernatur eum sapiente labore debitis dolorem ex architecto, corporis rerum, neque eveniet laborum odit repellendus aperiam minus molestias voluptatem.